# training
tensorflow==2.11.0
fire
cloudml-hypertune
apache-beam
tensorflow-transform
scikit-learn
matplotlib
pandas
pyarrow
db-dtypes

# pipeline
kfp
datetime
google
google-cloud-aiplatform
google-cloud-pipeline-components==2.8.0
protobuf==3.19.6
urllib3==1.26.18
requests-toolbelt==0.10.1